# Ignore build outputs
build/
*.class

# Ignore IDE-specific files
nbproject/
.idea/
*.iml
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp

# Ignore packaged JAR files
*.jar
